<?php
$AUTOCONFIG = array(
  "dbtype"        => "mysql",
  "dbname"        => "{{ db_name }}",
  "dbuser"        => "{{ db_user }}",
  "dbpass"        => "{{ db_password }}",
  "dbhost"        => "localhost",
  "dbtableprefix" => "",
  "adminlogin"    => "{{ nextcloud_admin }}",
  "adminpass"     => "{{ nextcloud_admin_password }}",
  "directory"     => "{{ nextcloud_data_directory }}"
);
